@model AuctionHouse.Models.Auction
@{ViewBag.Title = "Auction";}

<button type="button" class="btn btn-success btn-sm" onclick="manageAuction('@Model.ID.ToString()', true);">Approve</button>
<button type="button" class="btn btn-danger btn-sm" onclick="manageAuction('@Model.ID.ToString()', false);">Reject</button>